
.App-header {
  
  background-color:azure;
  /* min-height: 100vh;

  position: relative;
  align-items: center;
  justify-content: center; */
  text-align: center;
  color: #282c34;
  font-size: calc(10px + 2vmin);
  
  
}

/* .itemlistcontainer{
  display: flex;
  flex-direction: column;
} */


